.meal-reservation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
}

.meal-reservation div {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media screen and (max-width: 750px) {
  .meal-reservation {
    grid-template-columns: 1fr;
  }
}
